.m2 {
    background-image: url(Image/pragramming.png);
}
table {
    border-collapse: collapse;  
}
th,td {
    border: 2px solid black;
}
h1 {
    color: gold;
}
nav>ul {
    display: flex;
}
nav> ul li {
    list-style: none;
    margin-right: 10px;
}
nav> ul li a {
    text-decoration: none;
}